* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f3f5ff;
  padding: 20px;
}

.top-title {
  text-align: center;
  margin-bottom: 15px;
}

/* App Box */

.app {
  max-width: 400px;
  margin: auto;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* Header */

.header {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  text-align: center;
  padding: 25px 15px;
}

.header h1 {
  margin-bottom: 8px;
}

/* Input Box */

.input-box {
  display: flex;
  padding: 15px;
  gap: 10px;
}

.input-box input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
}

.input-box button {
  background: #2575fc;
  color: white;
  border: none;
  width: 45px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

/* Search */

.search {
  width: 90%;
  margin: 0 auto 10px;
  display: block;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Filters */

.filters {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.filter {
  flex: 1;
  margin: 0 5px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: #eee;
}

.filter.active {
  background: #2575fc;
  color: white;
}

/* Todo List */

ul {
  list-style: none;
  padding: 10px;
}

li {
  background: #f8f9ff;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Completed */

li.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Buttons */

.todo-btns button {
  border: none;
  margin-left: 5px;
  padding: 6px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.done {
  background: #28a745;
  color: white;
}

.delete {
  background: #dc3545;
  color: white;
}

/* Empty */

#empty {
  text-align: center;
  color: gray;
  padding: 30px 10px;
}